<% layout("/layouts/boilerplate") %>

<div class="container col-6 mt-3">
    <div class="alert alert-danger" role="alert">
        <p><%= err.message || "Error" %></p>
        <!-- <% if (err) { %>
            <p><%= err %></p>
        <% } else { %>
            <p>No additional error details are available.</p> // If you want full error detalils
        <% } %> -->
    </div>
</div>
